@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  font-family: "Assistant", "sans-serif" !important;
}

html {
  font-size: 62.5%;
}

.row {
  width: 100%;
}

.navbar .bodynav {
  margin-right: 48px;
  position: relative; /* Add this line */
}
.navbar .bodynav .nav-item {
  margin-right: 24px;
  position: relative; /* Add this line */
}
.navbar .bodynav .nav-item i {
  font-size: 18px;
}
.navbar .bodynav .nav-item div.cart-badge {
  position: absolute; /* Change from relative to absolute */
  top: 50%; /* Position it in the middle vertically */
  right: 0; /* Position it at the right edge */
  transform: translate(50%, -50%); /* Center it properly */
  background-color: red;
  color: white;
  display: none;
  border-radius: 50%;
  width: 20px; /* Adjust the width and height for the desired size */
  height: 20px;
  text-align: center;
  font-size: 12px; /* Adjust the font size for the count */
  font-weight: bold;
}
.navbar .navbar-brand {
  margin-left: 9rem;
  font-size: 18px;
  font-weight: 700;
  color: #4d4d4d;
  line-height: 26px;
}
.navbar .navbar-brand img {
  height: 40px;
  width: 40px;
  margin-right: 0.5rem;
}

@media screen and (max-width: 991px) {
  .sidebar {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  .sidebar .offcanvas-header img {
    width: 40px;
    height: 40px;
  }
  .navbar-brand {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
.checkout-style {
  margin-top: 56.25px;
}
.checkout-style .checkout .left-side .form-row.summary .info .subtotal2 {
  font-size: 14px;
  color: black;
  font-weight: 700;
}
.checkout-style .checkout .left-side .form-row.summary .info .subtotal2 .money {
  float: right;
}
.checkout-style .checkout .left-side .form-row.summary .info .delivery {
  font-size: 14px;
  color: black;
  font-weight: 700;
  margin-bottom: 1rem;
}
.checkout-style .checkout .left-side .form-row.summary .info .delivery .money {
  float: right;
}
.checkout-style .checkout .left-side .form-row.summary .info .grandtotal {
  margin-top: 1rem;
  font-size: 16px;
  color: #000;
  font-weight: 800;
}
.checkout-style .checkout .left-side .form-row.summary .info .grandtotal .money {
  float: right;
}
.checkout-style .checkout .left-side .form-row.summary .table {
  border: none;
}
.checkout-style .checkout .left-side .form-row.summary .table tr {
  border: none;
}
.checkout-style .checkout .left-side .form-row.summary .table tr td.image {
  border: none;
  width: 100px;
  height: 100px;
}
.checkout-style .checkout .left-side .form-row.summary .table tr td.image figure {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout-style .checkout .left-side .form-row.summary .table tr td.image figure img {
  width: 80%;
  height: 80%;
}
.checkout-style .checkout .left-side .form-row.summary .table tr td.name {
  border: none;
  font-size: 1.8rem;
  font-weight: 700;
  color: black;
  vertical-align: middle;
}
.checkout-style .checkout .left-side .form-row.summary .table tr td.subtotal {
  border: none;
  vertical-align: middle;
  font-size: 1.8rem;
  font-weight: 700;
}
.checkout-style .checkout .left-side .form-row.billing-address {
  font-size: 1.4rem;
}
.checkout-style .checkout .left-side .form-row.billing-address .accordion {
  border: 1px solid #dfdfdf;
}
.checkout-style .checkout .left-side .form-row.billing-address .accordion .accordion-body {
  background-color: #f1f1f1;
}
.checkout-style .checkout .left-side .form-row.billing-address .accordion p {
  color: #4d4d4d;
}
.checkout-style .checkout .left-side .form-row.billing-address .accordion .upper {
  color: #000 !important;
  height: 5.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  border: 1px solid #dfdfdf;
}
.checkout-style .checkout .left-side .form-row.billing-address .accordion .upper.active {
  border-color: #000;
}
.checkout-style .checkout .left-side .form-row.billing-address .accordion .upper input:active, .checkout-style .checkout .left-side .form-row.billing-address .accordion .upper input:checked {
  accent-color: #31404a !important;
}
.checkout-style .checkout .left-side .form-row.billing-address .accordion .upper label {
  font-weight: 600;
  margin-left: 1rem;
}
.checkout-style .checkout .left-side .form-row h1 {
  font-size: 2.6rem;
  font-weight: 700;
  margin-top: 1.5rem;
}
.checkout-style .checkout .left-side .form-row .form-group.address {
  position: relative;
  margin-bottom: 2rem;
}
.checkout-style .checkout .left-side .form-row .form-group.address .form-control {
  font-size: 1.6rem;
  padding: 1rem;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: all 0.3s ease;
  background-color: transparent;
}
.checkout-style .checkout .left-side .form-row .form-group.address .form-control:focus {
  border-color: #333;
}
.checkout-style .checkout .left-side .form-row .form-group.check {
  font-size: 1.4rem;
}
.checkout-style .checkout .left-side .form-row .form-group.check input:focus, .checkout-style .checkout .left-side .form-row .form-group.check input:active, .checkout-style .checkout .left-side .form-row .form-group.check input:checked {
  background-color: #4d4d4d;
}
.checkout-style .checkout .left-side .form-row .form-group.labelled {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.checkout-style .checkout .left-side .form-row .form-group.labelled .form-control {
  font-size: 1.6rem;
  padding: 1rem;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: all 0.3s ease;
  background-color: transparent;
}
.checkout-style .checkout .left-side .form-row .form-group.labelled .form-control:focus {
  border-color: #333;
}
.checkout-style .checkout .left-side .form-row .form-group.labelled .form-control:not(:-moz-placeholder-shown) + label {
  position: absolute;
  top: 1.3rem;
  left: 1.5rem;
  font-size: 1.4rem;
  color: #333;
  pointer-events: none;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.checkout-style .checkout .left-side .form-row .form-group.labelled .form-control.filled + label, .checkout-style .checkout .left-side .form-row .form-group.labelled .form-control:not(:placeholder-shown) + label {
  position: absolute;
  top: 1.3rem;
  left: 1.5rem;
  font-size: 1.4rem;
  color: #333;
  pointer-events: none;
  transition: all 0.3s ease;
}
.checkout-style .checkout .left-side .form-row .form-group.labelled .form-control.filled + label {
  color: #333;
  top: -0.5rem;
  background-color: #fff;
  padding: 0 0.25rem;
  transition: all 0.3s ease;
}
.checkout-style .checkout .left-side .form-row.submit-btn {
  width: 100%;
}
.checkout-style .checkout .left-side .form-row.submit-btn .btn {
  height: 5.5rem;
  width: 100%;
  background-color: #161f32;
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 2rem;
}

.line {
  width: 100vw;
  height: 2px;
  margin-top: 1rem;
  margin-bottom: 1 rem;
}

.footer {
  width: 100%;
}
.footer .row {
  margin-top: 24px;
  margin-bottom: 24px;
}
.footer .row .row .logo {
  margin-bottom: 16px;
}
.footer .row .row .logo .inside {
  height: 40px;
  text-decoration: none;
}
.footer .row .row .logo .inside img {
  height: 40px;
  width: 50px;
}
.footer .row .row .logo .inside span {
  color: #4d4d4d;
  font-size: 16px;
  margin-left: 10px;
  font-weight: 700;
}
.footer .row .row h5 {
  font-size: 18px;
  color: black;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 24px;
}
.footer .row .row p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}
.footer .row .row .shop a {
  color: #4d4d4d;
  text-decoration: none;
  width: 100%;
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

.payment {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.payment .copyright {
  font-size: 12px;
  text-align: center;
}

@media screen and (max-width: 442px) {
  .footer .row .row .logo .inside span {
    margin-left: 0;
  }
}/*# sourceMappingURL=checkout.css.map */